.team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2);
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}
.title {
    grid-column: 1/4 ;
    grid-row: 1; 
}
.block1 {
    grid-column: 1 ;
    grid-row: 2;
}
.block2 {
    grid-column: 2 ;
    grid-row: 2; 
}
.block3 {
    grid-column: 3 ;
    grid-row: 2;
}