.footer{
	bottom: 0;
    width: 100%;
    background: hsl(0, 0%, 100%);
    hr {
        opacity: 0.3;
    }
}
.logo{
    display: grid;
    place-items: center;
    height: 140px;
}
.icons{
    display: grid;
    place-items: center;
    height: 60px;
}
.text {
    display: grid;
    place-items: center;
    height: 100px;
    p{ display: flex;
        place-items: center;
        word-spacing: 1px; 
        text-transform: uppercase;
        color: #777777;
        font-size: 13px;
        span {
            color: #000000;
        }
    }
}
