.footer {
  bottom: 0;
  width: 100%;
  background: white;
}

.footer hr {
  opacity: 0.3;
}

.logo {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 140px;
}

.icons {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 60px;
}

.text {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100px;
}

.text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  word-spacing: 1px;
  text-transform: uppercase;
  color: #777777;
  font-size: 13px;
}

.text p span {
  color: #000000;
}
/*# sourceMappingURL=Footer.module.css.map */