.main {
  background-color: #fafafa;
  -webkit-box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px white;
          box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px white;
  padding-bottom: 75px;
}
/*# sourceMappingURL=MainContent.module.css.map */