.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 230px 0 230px;
}

.logo img {
  margin: 0px;
  height: 35px;
  vertical-align: middle;
}

.spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.items li a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 25px;
  color: #777777;
}

.items li a span {
  color: #000000;
}

.items li img {
  vertical-align: middle;
  width: 20px;
  opacity: 0.5;
}

.items ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items li {
  padding-right: 20px;
}
/*# sourceMappingURL=Header.module.css.map */