
.container {
    margin: 0 230px 0px 230px;
    .button{ 
        padding-top: 30px;
        display: grid;
        place-items: center;
        button {
            display: grid;
            place-items: center;
            text-transform: uppercase;
            height: 30px;
            font-size: 13px;
            font-family: inherit;
            word-spacing: 50%;
            width: 120px;
            background-color: #777777;
            color: #fafafa;
            border: none;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
.items li a{
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color:#777777;
    cursor: pointer;
    span {
        color: #000000;
    }
}
.items li img{
    vertical-align: middle;
    height: 30px;
    padding: 0 20px 0 20px;
}
.items {
    margin: 30px 0;
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    hr {
        opacity: 0.5;
    }
}


.blockMain{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(24);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.image1 {
    grid-column: 1 ;
    grid-row: 1/8;
    background-color: #d7d7d7;
    background-size: cover;
    background-image: url(../../Assets/Home/image1.png);
    height: 350px;
}
.image2 {
    grid-column: 1 ;
    grid-row: 8/13;
    background-color: #d7d7d7;
    background-size: cover;
    background-image: url(../../Assets/Home/image2.png);
    height: 250px;
}
.image3 {
    grid-column: 1 ;
    grid-row: 13/22;
    background-color: #d7d7d7;
    background-size: cover;
    background-image: url(../../Assets/Home/image3.png);
    height: 450px;
}
.image4 {
    grid-column: 1 ;
    grid-row: 22/25;
    height: 150px;
}
.image5 {
    grid-column: 2 ;
    grid-row: 1/6;
    background-color: #d7d7d7;
    background-size: cover;
    background-image: url(../../Assets/Home/image5.png);
    height: 250px;
}
.image6 {
    grid-column: 2 ;
    grid-row: 6/13;
    cursor: pointer;
    background-color: #000000;
    height: 350px;
    img {
        background-size: cover;
        background-image: url(../../Assets/Home/image6.png);
        opacity: 0.5;
    }
}
.image7 {
    grid-column: 2 ;
    grid-row: 13/18;
    background-color: #d7d7d7;
    background-size: cover;
    background-image: url(../../Assets/Home/image7.png);
    height: 250px;
}
.image8 {
    grid-column: 2 ;
    grid-row: 18/25;
    background-color: #d7d7d7;
    background-size: cover;
    background-image: url(../../Assets/Home/image8.png);
    height: 350px;
}
.image9 {
    grid-column: 3 ;
    grid-row: 1/10;
    background-color: #d7d7d7;
    background-size: cover;
    background-image: url(../../Assets/Home/image9.png);
    height: 450px;
}
.image10 {
    grid-column: 3 ;
    grid-row: 10/15;
    background-color: #d7d7d7;
    background-size: cover;
    background-image: url(../../Assets/Home/image10.png);
    height: 250px;
}
.image11 {
    grid-column: 3 ;
    grid-row: 15/22;
    background-color: #d7d7d7;
    background-size: cover;
    background-image: url(../../Assets/Home/image11.png);
    height: 350px;
}
.image12 {
    grid-column: 3 ;
    grid-row: 22/25;
    height: 150px;
}
