.container {
  margin: 0 230px 0px 230px;
}

.container .button {
  padding-top: 30px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container .button button {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-transform: uppercase;
  height: 30px;
  font-size: 13px;
  font-family: inherit;
  word-spacing: 50%;
  width: 120px;
  background-color: #777777;
  color: #fafafa;
  border: none;
}

.container .button button:hover {
  cursor: pointer;
}

.items li a {
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #777777;
  cursor: pointer;
}

.items li a span {
  color: #000000;
}

.items li img {
  vertical-align: middle;
  height: 30px;
  padding: 0 20px 0 20px;
}

.items {
  margin: 30px 0;
}

.items ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.items hr {
  opacity: 0.5;
}

.blockMain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: ()[24];
      grid-template-rows: repeat(24);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.image1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  grid-row: 1/8;
  background-color: #d7d7d7;
  background-size: cover;
  background-image: url(../../Assets/Home/image1.png);
  height: 350px;
}

.image2 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 8;
  -ms-grid-row-span: 5;
  grid-row: 8/13;
  background-color: #d7d7d7;
  background-size: cover;
  background-image: url(../../Assets/Home/image2.png);
  height: 250px;
}

.image3 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 13;
  -ms-grid-row-span: 9;
  grid-row: 13/22;
  background-color: #d7d7d7;
  background-size: cover;
  background-image: url(../../Assets/Home/image3.png);
  height: 450px;
}

.image4 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 22;
  -ms-grid-row-span: 3;
  grid-row: 22/25;
  height: 150px;
}

.image5 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
  background-color: #d7d7d7;
  background-size: cover;
  background-image: url(../../Assets/Home/image5.png);
  height: 250px;
}

.image6 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 7;
  grid-row: 6/13;
  cursor: pointer;
  background-color: #000000;
  height: 350px;
}

.image6 img {
  background-size: cover;
  background-image: url(../../Assets/Home/image6.png);
  opacity: 0.5;
}

.image7 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 13;
  -ms-grid-row-span: 5;
  grid-row: 13/18;
  background-color: #d7d7d7;
  background-size: cover;
  background-image: url(../../Assets/Home/image7.png);
  height: 250px;
}

.image8 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 18;
  -ms-grid-row-span: 7;
  grid-row: 18/25;
  background-color: #d7d7d7;
  background-size: cover;
  background-image: url(../../Assets/Home/image8.png);
  height: 350px;
}

.image9 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
  background-color: #d7d7d7;
  background-size: cover;
  background-image: url(../../Assets/Home/image9.png);
  height: 450px;
}

.image10 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 10;
  -ms-grid-row-span: 5;
  grid-row: 10/15;
  background-color: #d7d7d7;
  background-size: cover;
  background-image: url(../../Assets/Home/image10.png);
  height: 250px;
}

.image11 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 15;
  -ms-grid-row-span: 7;
  grid-row: 15/22;
  background-color: #d7d7d7;
  background-size: cover;
  background-image: url(../../Assets/Home/image11.png);
  height: 350px;
}

.image12 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 22;
  -ms-grid-row-span: 3;
  grid-row: 22/25;
  height: 150px;
}
/*# sourceMappingURL=Home.module.css.map */