.slider {
    position: relative;
    width: 100%;
    height: 650px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #000000;
    .slide {
        width: 100%;
        height: 100%;
        transition: .5s;
        overflow: hidden;
    }
}
.left {
    position: absolute;
    display: grid;
    place-items: center;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 100%;
    opacity: .7;
    transition: .5s;
    left: 0;
    &:hover{
        opacity: 1;
        cursor: pointer;
    }
}
.center {
    flex: 80%;
    height: 100%;
    display: grid;
    place-items: center;
    h3{
        margin-top: 300px;
        font-size: 48px;
        text-transform: uppercase;
        color: #ffffff;
        letter-spacing: 3px;
        border: 4px solid black;
        background-color: #000000;
        height: 60px;
        width: 700px;
        text-align: center;
    }
     p{
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
    }
}
.right {
    position: absolute;
    display: grid;
    place-items: center;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 100%;
    opacity: .7;
    transition: .5s;
    right: 0;
    &:hover{
        opacity: 1;
        cursor: pointer;
    }
}

.radioButton{
    display: flex;
}
 .radio{
     height: 15px;
     width: 15px;
     margin:0 10px 0 10px;
     background-color: #ffffff;
     border-radius: 50%;
     &:hover{
        border: #000000 solid 4px;
        height: 9px;
        width: 9px;
        cursor: pointer;
        transition: .2s;
    }
}