.slider {
  position: relative;
  width: 100%;
  height: 650px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #000000;
}

.slider .slide {
  width: 100%;
  height: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}

.left {
  position: absolute;
  display: -ms-grid;
  display: grid;
  place-items: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10%;
  height: 100%;
  opacity: .7;
  -webkit-transition: .5s;
  transition: .5s;
  left: 0;
}

.left:hover {
  opacity: 1;
  cursor: pointer;
}

.center {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.center h3 {
  margin-top: 300px;
  font-size: 48px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 3px;
  border: 4px solid black;
  background-color: #000000;
  height: 60px;
  width: 700px;
  text-align: center;
}

.center p {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.right {
  position: absolute;
  display: -ms-grid;
  display: grid;
  place-items: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10%;
  height: 100%;
  opacity: .7;
  -webkit-transition: .5s;
  transition: .5s;
  right: 0;
}

.right:hover {
  opacity: 1;
  cursor: pointer;
}

.radioButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio {
  height: 15px;
  width: 15px;
  margin: 0 10px 0 10px;
  background-color: #ffffff;
  border-radius: 50%;
}

.radio:hover {
  border: #000000 solid 4px;
  height: 9px;
  width: 9px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}
/*# sourceMappingURL=Slider.module.css.map */